langchain==0.3.26
langchain-core==0.3.66
langchain-community==0.3.26
langchain-text-splitters
langchain-chroma
langchain-openai
chromadb
sentence-transformers
python-dotenv
ipykernel
pypdf
beautifulsoup4
arxiv==1.4.8
pymupdf
wikipedia
faiss-cpu
streamlit
torchvision
